<div class="toolbar">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/icon_first.png"
  />
  <span>TO DO - LIST</span>
</div>

<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle value="dark" aria-label="Text align left">
    dark
  </mat-button-toggle>
  <mat-button-toggle value="light" aria-label="Text align left">
    light
  </mat-button-toggle>
</mat-button-toggle-group>

<div class="content">

  <div class="card highlight-card card-small">
    <mat-icon>done_outline</mat-icon><p>   </p>
    <span> {{ title }}</span>
  </div>

</div>

<router-outlet></router-outlet>