.container-inset{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-self: center;
    align-content: center;
}

::placeholder{
    opacity: 50%;
    color: #836FFF;
}
